<%= form_for :post, url: post_path(@post.id), method: :put do |f| %>
  <div class="field">
    <%= f.text_area :caption, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-primary' %>
  </div>
<% end %>