<div class="container">
<% if !@errors.nil? %>
  <% @errors.each do |msg| %>
    <div class="alert alert-warning"><%= msg %></div>
  <% end %>
<% end %>
<%= form_for :new_post, url: posts_path do |f| %>  
  <div class="field">
    <%= f.text_area :caption, placeholder: true, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Post', class: 'btn btn-primary'%>
  </div>
<% end %>

</div>